
.aboutUs-main-container {
  min-height: 100vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card-container {
  margin-inline: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  
}
.card-container.active{
  pointer-events: none;
}

.card {
  width: 400px;
  height: 350px;
  transform-style: preserve-3d;
  transition: transform 0.8s ease;
  cursor: pointer;
  position: relative;
}

.cardFlip{
  transform: rotateY(180deg);
}
.card .card-inner {
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: transform 0.8s ease;
  position: absolute;
}


.card .card-inner .front,
.card .card-inner .back {
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  backface-visibility: hidden;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}
.card .card-inner .front h1,h5,
.card .card-inner .back h1{
    text-transform: uppercase;
}
.card .card-inner .front h5 {
    display: block;
    font-size: 1em;
    margin-block-start: 1.4em;
    margin-block-end: 1.4em;
    color: #333;
}
.card .card-inner .front h1 {
    display: block;
    font-size: 1.7em;
    margin-block-start: 0.5em;
    margin-block-end: 0em;
    color: #333;
}
.card .card-inner .front {
  background-color: #ffffff;
}
.card .card-inner .front:hover  h1 {
  color: #f6931d;
    transition: 0.3s;
}
.card .card-inner .front:hover {
  border-radius: 10px;
  box-shadow: 0 15px 20px rgba(0, 0, 0, 0.5);
    transition: 0.4s ease-in-out;
}

.card .card-inner .back {
  background-color: #ffffff;
  transform: rotateY(180deg);
}
.card .card-inner .front .profilePic-container{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.card .card-inner .front .profilePic-container .profilePic {
  width: 150px;
  height: 150px;
  margin-top: 10px;
  border-radius: 50%;
  z-index: 1;
}

.card .card-inner .front .social-icons {
  display: flex;
  gap: 25px;
}

.card .card-inner .front .social-icons a {
  text-decoration: none;
  color: #333;
  font-size: 30px;
}
.card .card-inner .front .social-icons .facebook:hover{
  color: #093ea2;
}
.card .card-inner .front .social-icons .twitter:hover{
  color: #4781df;
}
.card .card-inner .front .social-icons .linkedin:hover{
  color: #ed0e0e;
}


@media all and (max-width: 1030px) {
  .card{
   width: 300px;
   
  }
}