/* ToolsAndTechnologies.css */

/* Style for the overall tab container */
.react-tabs {
  font-family: 'Roboto', sans-serif;
  margin: auto;
  width: 100%;
  border: none;
}

/* Style for the tab list */
.react-tabs__tab-list {
  list-style-type: none;
  padding: 0;
  margin: auto;
  display: flex;
  /* background-color: #f0f0f0; */
  border: none;
}

/* Style for each individual tab */
.react-tabs__tab {
  cursor: pointer;
  padding: 10px 15px;
  margin: 0;
  /* border: 1px solid #ddd; */
  border: none;
  border-radius: 4px;
  user-select: none;
  transition: background-color 0.3s ease;
  width: 100%;
}

/* Style for the selected tab */
.react-tabs__tab--selected {
  background-color: #eaf4f4;
  color: #f6931d;
}

/* Style for the tab panel */
.react-tabs__tab-panel {
  padding: 15px;
  /* border: 1px solid #ddd; */
  border: none;
  border-radius: 4px;
  margin-top: 10px;
}
